
@model AdminViewModel

<div class="text-center">
    <h1 class="display-4">LOTUS</h1>
    <h2>Welcome to Turkish Software Developers School</a>.</h2>
</div>
<div class="col-md-7 d-flex flex-center">
    <div class="p-4 p-md-5 flex-grow-1">
        <div class="row flex-between-center">
            <div class="col-auto">
                <h3>Student Registration System </h3>
            </div>
        </div>
        <div asp-validation-summary="ModelOnly">  </div>
        <form asp-controller="Home" asp-action="Index" method="post">
            <div class="mb-3">
                <label asp-for="AdminName"  class="form-label" for="card-email">Authorized Person User Name</label>
                <input asp-for="AdminName" class="form-control"  type="text" />
                <span class="text-danger" asp-validation-for="AdminName"></span>
            </div>
            <div class="mb-3">
                <div class="d-flex justify-content-between">
                    <label asp-for="AdminPassword"class="form-label" for="card-password">Password</label>
                </div>
                <input asp-for="AdminPassword" class="form-control" id="card-password" type="password" />
                <span class="text-danger" asp-validation-for="AdminName"></span>
            </div>
            <button type="submit" class="btn btn-dark">Login</button>
        </form>

  



